.button
{
    -fx-background-color : rgba(235, 221, 250, 0.45);
    -fx-text-fill : #ffffff;
}
.button:hover{
    -fx-background-color : rgb(255, 255, 255);
}
.button:pressed
{
    -fx-background-color : rgb(91, 11, 87);
}

.text-field
{
    -fx-background-color: white;
    -fx-text-fill: rgba(96, 74, 117, 0.48);
    -fx-border-color: white;
}